/**
 *
 */

.oirl-data-box {
	width: 490px;
	font-color: black;
	height: 60px;
	margin: 15px auto;
	padding: 5px;
	background-color: #fff;
	border: 1px dotted black;
	border-radius: 13px;
	box-shadow: 2px 2px;
}

.oirl-data-box .oirl-data {
	position: relative;
	width: 30%;
	float: left;
	margin: 3px 5px 0;
	font-size: 16px;
}

.oirl-data-box .oirl-data-value {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.oirl-data-box .oirl-data-desc {
	position: absolute;
	bottom: -5px; left: 5px;
	font-size: 11px;
	font-weight: bold;
	color: #999;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 450px;
  color: #333;
  background-color: #ccc;
	-webkit-box-shadow: 0 0 5px #aaa;
  -moz-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}
